{% extends 'base.html' %}
{% load static %}
{% block extra_styles %}
<link rel="stylesheet" href="">
{% endblock %}
{% block content%}
<div class="content">
    <div class="left">
        <h1>:/DEVBIT/<span class="blinking-caret">_</span></h1>
        <h3>Daily Challenges For Coders!</h3>
        <p>DevBit is a platform where like minded coders <br> can hone their coding skills.</p>
        <button class="practice">
            <a href="{% url 'challenge_list' %}">Practice</a>
        </button>
    </div>
    <div class="right">
        <img src="{% static 'images/Java.png' %}" alt="https://pixels.market/">
    </div>
</div>
{% endblock %}
